@-moz-document domain("messages.google.com") {
  :root, body, html {
    --md-sys-color-background: @base00@ !important;
    --md-sys-color-on-background: @base05@ !important;
    --md-sys-color-surface: @base00@ !important;
    --md-sys-color-surface-container: @base01@ !important;
    --md-sys-color-surface-container-low: @base00@ !important;
    --md-sys-color-surface-container-high: @base01@ !important;
    --md-sys-color-surface-container-highest: @base02@ !important;
    --md-sys-color-on-surface: @base05@ !important;
    --md-sys-color-on-surface-variant: @base04@ !important;
    
    --md-sys-color-primary: @base0D@ !important;
    --md-sys-color-on-primary: @base00@ !important;
    --md-sys-color-primary-container: @base0D@ !important;
    --md-sys-color-on-primary-container: @base00@ !important;
    
    --md-sys-color-secondary-container: @base01@ !important;
    --md-sys-color-on-secondary-container: @base05@ !important;
    
    --md-sys-color-outline: @base02@ !important;

    --input-bg-fade-color: @base01@ !important;
    --background-color: @base00@ !important;
    --active-color: @base0D@ !important;
  }
}
